<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: "Review text" %>
    <%= f.input :rating, label: "Star rating" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  </div>
<% end %>
